ABfinal/Actividad_Por_Zona/ConsumPerActivitat_BARCELONA.csv
ABfinal/COMERCIAL/BARCELONA.csv
ABfinal/COMERCIAL/comercial_norm/BARCELONA_normal.csv
ABfinal/COMERCIAL/comercial_norm/L'HOSPITALET LLOBR._normal.csv
ABfinal/COMERCIAL/L'HOSPITALET LLOBR..csv
ABfinal/DOMESTICO/BARCELONA.csv
ABfinal/DOMESTICO/CASTELLDEFELS.csv
ABfinal/DOMESTICO/domestico_norm/BARCELONA_normal.csv
ABfinal/DOMESTICO/domestico_norm/CASTELLDEFELS_normal.csv
ABfinal/DOMESTICO/domestico_norm/CERDANYOLA_normal.csv
ABfinal/DOMESTICO/domestico_norm/CORNELLA_normal.csv
ABfinal/DOMESTICO/domestico_norm/ESPLUGUES_normal.csv
ABfinal/DOMESTICO/domestico_norm/GAVA_normal.csv
ABfinal/DOMESTICO/domestico_norm/L_HOSPITALET LLOBR._normal.csv
ABfinal/DOMESTICO/domestico_norm/MONTCADA I REIXAC_normal.csv
ABfinal/DOMESTICO/domestico_norm/SANT ADRIA_normal.csv
ABfinal/DOMESTICO/domestico_norm/SANT BOI_normal.csv
ABfinal/DOMESTICO/domestico_norm/SANT FELIU LL._normal.csv
ABfinal/DOMESTICO/domestico_norm/SANT JOAN DESPI_normal.csv
ABfinal/DOMESTICO/domestico_norm/VILADECANS_normal.csv
ABfinal/DOMESTICO/ESPLUGUES.csv
ABfinal/DOMESTICO/GAVA.csv
ABfinal/DOMESTICO/L_HOSPITALET LLOBR..csv
ABfinal/DOMESTICO/MONTCADA I REIXAC.csv
ABfinal/DOMESTICO/SANT ADRIA.csv
ABfinal/DOMESTICO/SANT BOI.csv
ABfinal/DOMESTICO/SANT FELIU LL..csv
ABfinal/DOMESTICO/SANT JOAN DESPI.csv
ABfinal/DOMESTICO/VILADECANS.csv
ABfinal/Domestic_1/BARCELONA.csv
ABfinal/Domestic_1/CASTELLDEFELS.csv
ABfinal/Domestic_2/L_HOSPITALET LLOBR..csv
ABfinal/Domestic_2/MONTCADA I REIXAC.csv
ABfinal/Domestic_2/SANT ADRIA.csv
ABfinal/Domestic_2/SANT BOI.csv
ABfinal/Domestic_3/SANT FELIU LL..csv
ABfinal/Domestic_3/SANT JOAN DESPI.csv
ABfinal/Domestic_3/VILADECANS.csv
ABfinal/Domestic_4/ESPLUGUES.csv
ABfinal/Domestic_4/GAVA.csv